.filter {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: $mobile-wrapper;
  margin-bottom: 35px;
}

.filter__group {
  margin-bottom: 24px;
}

.filter__legend {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 23px;
}

.filter__price .filter__legend {
  margin-bottom: 32px;
}

.filter__price-scale {
  position: relative;
  height: 2px;
  background-color: $light-grey;
  margin-bottom: 36px;
}

.filter__price-bar {
  position: absolute;
  left: 11px;
  top: -1px;
  width: 241px;
  height: 4px;
  background-color: $primary-lighter;
}

.filter__price-toggle {
  position: absolute;
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: $base-white;
  border: solid 2px $primary-lighter;
  border-radius: 50%;
  cursor: pointer;

  &::before {
    content: "";
    position: relative;
    left: 2px;
    width: 16px;
    height: 16px;
    display: block;
    border-radius: 50%;
    background-color: transparent;
  }

  &--min {
    top: -10px;
    left: -12px;
  }

  &--max {
    top: -10px;
    right: -8px;
  }

  &:hover,
  &:focus-visible {
    outline: 0;

    &::before {
      background-color: $primary-opacity;
    }
  }

  &:active {
    border-color: $base-primary;

    &::before {
      background-color: $base-primary;
    }
  }
}

.filter__price-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.filter__price-input {
  box-sizing: border-box;
  width: 118px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  text-align: center;
  padding: 5px 10px;
  border: 2px solid $primary-lighter;
  border-radius: 4px;

  &::placeholder {
    color: $base-grey;
  }

  &:focus-visible {
    outline: 0;
    border-color: $primary-darker;
  }

  &:disabled {
    background-color: $lightest-grey;
    border-color: $light-grey;
  }
}

.filter__price-controls::after {
  content: "";
  display: block;
  position: absolute;
  top: 18px;
  right: 136px;
  width: 8px;
  height: 2px;
  background-color: $base-grey;
}

.filter__milk-list,
.filter__country-list {
  @include reset-list;
}

.filter__milk-item:not(:last-child) {
  margin-bottom: 21px;
}

.filter__milk-radio {
  display: flex;
  flex-direction: row;
  gap: 10px;
  cursor: pointer;

  &--disabled {
    color: $light-grey;
    cursor: default;
  }

  &:hover .filter__milk-input:not(:checked):enabled::before {
    background-color: $primary-opacity;
    transform: scale(1);
  }
}

.filter__milk-input {
  appearance: none;
  margin: 0;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: solid 2px $base-primary;
  border-radius: 50%;
  position: relative;
  transform: translateY(-1px);

  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transform: scale(0);
    background-color: $base-primary;
  }

  &:checked::before {
    transform: scale(1);
  }

  &:disabled {
    border-color: $light-grey;

    &:checked::before {
      background-color: $light-grey;
    }
  }

  &:focus-visible {
    outline: 0;

    &:not(:checked):enabled::before {
      background-color: $primary-opacity;
      transform: scale(1);
    }
  }
}

.filter__country .filter__legend {
  margin-bottom: 21px;
}

.filter__country-item:not(:last-child) {
  margin-bottom: 20px;
}

.filter__country-checkbox {
  display: flex;
  flex-direction: row;
  gap: 12px;
  cursor: pointer;

  &--disabled {
    color: $base-grey;
    cursor: default;
  }

  &:hover .filter__country-checkbox-input:not(:checked):enabled {
    background-color: $primary-opacity;
    border-color: $base-primary;
  }
}

.filter__country-checkbox-input {
  appearance: none;
  margin: 0;
  width: 42px;
  height: 24px;
  background-color: $base-grey;
  border: solid 2px $base-grey;
  border-radius: 12px;
  cursor: pointer;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    transform: scale(1);
    background-color: $base-white;
    border-radius: 50%;
    transition: 0.2s;
  }

  &:checked {
    background-color: $base-primary;
    border-color: $base-primary;
  }

  &:checked::before {
    transform: scale(1) translateX(18px);
  }

  &:disabled {
    background-color: $light-grey;
    border-color: $light-grey;
    cursor: default;

    &::before {
      background-color: $lightest-grey;
    }

    &:checked::before {
      background-color: $base-grey;
    }
  }

  &:focus-visible {
    outline: 0;

    &:not(:checked):enabled {
      background-color: $primary-opacity;
      border-color: $base-primary;
    }
  }
}

.filter__buttons {
  margin-top: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24.5px;
}

.filter__button {
  width: 160px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  padding: 11px 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: $base-primary;
  color: $base-white;

  &:hover,
  &:focus-visible {
    background-color: $primary-lighter;
    color: $base-white;
  }

  &:active {
    background-color: $primary-darker;
    color: $base-white;
  }

  &:disabled {
    background-color: $base-grey;
    color: $base-white;
    cursor: default;
  }

  &--reset {
    font-size: 14px;
    background-color: $base-white;
    color: $base-primary;

    &:disabled {
      background-color: $light-grey;
    }
  }
}

@media (min-width: $tablet-width) {
  .filter {
    width: $tablet-wrapper;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 41px;
  }

  .filter__group {
    margin-bottom: 0;
  }

  .filter__price .filter__legend {
    margin-bottom: 29px;
  }

  .filter__inner {
    transform: translateX(8px);
  }

  .filter__price-toggle--max {
    right: 0;
  }

  .filter__price {
    width: 218px;
  }

  .filter__milk {
    width: 218px;
  }

  .filter__country {
    width: 231px;
  }

  .filter__buttons {
    flex-direction: row;
    margin: 0 auto;
    margin-top: 37px;
    gap: 29px;
    transform: translateX(-24px);
  }

  .filter__price-bar {
    width: 190px;
  }

  .filter__price-input {
    width: 92px;
  }

  .filter__price-controls::after {
    right: 106px;
  }

  .filter__legend {
    margin-bottom: 18px;
  }

  .filter__button {
    font-size: 14px;
    width: 148px;
    padding: 8px 3px;
  }
}

@media (min-width: $desktop-width) {
  .filter {
    width: 318px;
    flex-direction: column;
    justify-content: flex-start;
  }

  .filter__milk,
  .filter__country,
  .filter__price {
    width: 100%;
  }

  .filter__inner {
    transform: none;
  }

  .filter__price-bar {
    width: 287px;
  }

  .filter__price-input {
    width: 134px;
  }

  .filter__price-controls::after {
    right: 155px;
  }

  .filter__group {
    margin-bottom: 30px;
  }

  .filter__legend {
    margin-bottom: 21px;
  }

  .filter__country .filter__legend {
    margin-bottom: 18px;
  }

  .filter__buttons {
    margin-top: 10px;
    transform: none;
    gap: 22px;
  }
}
