.header {
  background-color: $base-white;
  color: $base-black;
}

.header__wrapper {
  position: relative;
  margin: 0 auto;
  min-height: 60px;
  box-sizing: border-box;
}

.header__logo {
  @include reset-link;
  height: 60px;
  z-index: 11;
  position: absolute;
  left: 20px;
}

.header__logo-image {
  padding: 12px 0;

  &--tablet,
  &--desktop {
    display: none;
  }
}

.header__logo-text {
  display: none;
}

@media (min-width: $tablet-width) {
  .header__wrapper {
    min-height: 80px;
  }

  .header__logo {
    position: static;
    height: 80px;
  }

  .header__logo-image {
    padding: 22px 0 22px 20px;

    &--mobile {
      display: none;
    }

    &--tablet {
      display: block;
    }
  }
}

@media (min-width: $desktop-width) {
  .header__wrapper {
    max-width: $desktop-wrapper;
  }

  .header__logo-image {
    padding-left: 0;

    &--tablet {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }

  .header__logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .header__logo-text {
    display: inline;
    margin-left: 20px;
    color: $base-black;
    font-size: 12px;
    line-height: 16px;
    padding: 24px 0;
  }
}
