.main-container__title {
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  color: $base-primary;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 4px;
}
