.map {
  width: 100%;
  height: 420px;
}

.map__image {
  width: 100%;
  height: 420px;
  object-fit: cover;
}

@media (min-width: $tablet-width) {
  .map {
    min-height: 480px;
  }

  .map__image {
    height: 480px;
  }
}

@media (min-width: $desktop-width) {
  .map {
    min-height: 540px;
  }

  .map__image {
    height: 540px;
  }
}
