.pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.pagination__button-text {
  display: none;
}

.pagination__button {
  @include reset-link;
  width: 40px;
  height: 40px;
  background-color: $base-white;
  border: none;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: $base-primary;

  & svg {
    fill: $base-primary;
  }

  &--current {
    background-color: transparent;
    color: $base-black;
    font-weight: 600;
    cursor: default;
  }

  &:hover:enabled:not(.pagination__button--current),
  &:focus-visible:enabled:not(.pagination__button--current) {
    color: $base-white;
    background-color: $primary-lighter;

    &.pagination__button-text {
      color: $base-white;
    }

    & svg {
      fill: $base-white;
    }
  }

  &:active:enabled:not(.pagination__button--current) {
    color: $base-white;
    background-color: $primary-darker;

    &.pagination__button-text {
      color: $base-white;
    }

    & svg {
      fill: $base-white;
    }
  }

  &:disabled {
    color: $base-white;
    background-color: $light-grey;
    cursor: default;

    &.pagination__button-text {
      color: $base-white;
    }

    & svg {
      fill: $base-white;
    }
  }
}

@media (min-width: $tablet-width) {
  .pagination {
    margin-left: auto;
    width: 395px;
  }

  .pagination__button svg {
    display: none;
  }

  .pagination__button--arrow {
    width: auto;
  }

  .pagination__button-text {
    display: block;
    font-size: 16px;
    line-height: 24px;
    padding: 8px 20px;
  }
}
