.promo__item-wrapper {
  width: 100%;

  &--flat-white {
    background-color: $flat-white;
  }

  &--lavender {
    background-color: $lavender-latte;
  }

  &--espresso {
    background-color: $espresso;
  }
}

.promo__item {
  margin: 0 auto;
  max-width: $mobile-wrapper;
  box-sizing: border-box;
  min-height: 656px;
  padding: 20px 0 60px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.promo__image {
  margin-bottom: 3px;
}

.promo__info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.promo__badge {
  margin: 0;
  color: $base-primary;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.promo__title {
  margin: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 10px;
}

.promo__description {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.promo__product-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.promo__old-price {
  color: $base-primary;
  line-height: 32px;
  text-decoration: line-through;
  margin-right: 6px;
}

.promo__new-price {
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
  margin-right: 20px;
}

.promo__order {
  color: $base-white;
  background-color: $base-primary;
  border: none;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  border-radius: 4px;
  padding: 8px 20px;
  cursor: pointer;

  &:hover,
  &:focus-visible {
    background-color: $primary-lighter;
    outline: 0;
  }

  &:active {
    background-color: $primary-darker;
  }

  &:disabled {
    background-color: $base-grey;
    cursor: default;
  }
}

.promo__button {
  height: 100%;
  width: 20px;
  position: absolute;
  top: 0;
  fill: #7859cf;
  border: 0;
  background-color: transparent;
  z-index: 10;
  cursor: pointer;

  &:disabled {
    fill: $base-grey;
    cursor: default;
  }

  &--prev {
    left: 0;

    &:enabled:hover,
    &:enabled:focus-visible {
      background: linear-gradient(90deg, $base-white 0%, rgba($black, 0) 100%);
      outline: 0;
    }

    &:enabled:active {
      background: linear-gradient(90deg, $primary-opacity 0%, rgba($base-primary, 0) 100%);
    }
  }

  &--next {
    right: 0;

    &:enabled:hover,
    &:enabled:focus-visible {
      background: linear-gradient(-90deg, $base-white 0%, rgba($base-white, 0) 100%);
      outline: 0;
    }

    &:enabled:active {
      background: linear-gradient(-90deg, $primary-opacity 0%, rgba($base-primary, 0) 100%);
    }
  }
}

@media (min-width: $tablet-width) {
  .promo__item {
    max-width: 608px;
    min-height: 640px;
    padding: 60px 0 308px;
    margin-bottom: 198px;
    position: relative;
  }

  .promo__item picture {
    position: absolute;
    bottom: -198px;
  }

  .promo__title {
    font-size: 56px;
    line-height: 80px;
    margin-bottom: 16px;
  }

  .promo__description {
    font-size: 20px;
    line-height: 32px;
  }

  .promo__button {
    width: 80px;
    height: calc(100% - 198px);
  }
}

@media (min-width: $desktop-width) {
  .promo__item picture {
    position: static;
    order: 0;
  }

  .promo__item {
    max-width: 1255px;
    padding: 30px 0 74px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: space-between;
    transform: translateX(12px);
  }

  .promo__info {
    width: 625px;
    align-items: start;
    margin-top: -18px;
  }

  .promo__description {
    text-align: left;
    margin-bottom: 40px;
  }

  .promo__button {
    height: 100%;
  }

  .promo__pagination {
    padding-bottom: 53px;
  }
}
